.main{
    width: 100%;
    height: 100%;
    /* background: #cccccc; */
    position: relative;
    font-family:'NaiYou1874ae58a21f703';

}

.home{

    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 30px;
    line-height: 65px;
    color: #1890ff;
    cursor: pointer;
}

.fontAnlmation {
    animation: fontAnlmation  0.5s ;;

}

.title{
    position: relative;
    top: 3%;
    font-size: 30px;
    text-align: center;
}
.footer{
    position: relative;
    top: 85%;
    text-align: center;
}

@keyframes fontAnlmation{
    from{
        font-size: 30px;
    }
    to{
        font-size: 35px;
    }
}